button.btn-primary {
    background-color: #2864A8;
    border-color: #2864A8;
    color: white;
}

button.btn-secondary.btn-upload {
    background-color: #e4ab00;
    border-color: #e4ab00;
    color: white;
}

button.btn-secondary.btn-realtime {
    background-color: #177047;
    border-color: #177047;
    color: white;
}

