<div *ngIf="!isTakingPhoto && !isPhotoTook" class="row">
    <div class="col">
      <div class="mb-3">
        <input class="form-control" type="file" accept="image/png,image/jpg,image/jpeg" id="formFile" />
      </div>
    </div>
    <div class="col">
      <app-button title="Tirar foto" type="btn-primary" icon="bi-camera" (click)="checkPermissions()"></app-button>
    </div>
</div>

<div>
  <webcam [width]="300" [trigger]="$trigger" (imageCapture)="snapshot($event)"></webcam>
  <app-button title="Capturar imagem" type="btn-primary"  (click) = "captureImage()"></app-button>
</div>



<app-response *ngIf="isPhotoTook" response="{{response}}"></app-response>

