<div *ngIf="!isTakingPhoto" class="row">
  <div class="col">
    <div class="mb-3 hiden">
      <input
        class="form-control"
        type="file"
        accept="image/png,image/jpg,image/jpeg"
        id="file-input"
        (change)="handleFile($event)"
      />
    </div>
    <div class="mb-3">
      <app-button
        title="Enviar foto"
        type="btn-secondary btn-upload shadow"
        icon="bi-file-earmark-image"
        (click)="handleClick()"
      ></app-button>
    </div>
  </div>
  <div class="col">
    <app-button
      title="Tirar foto"
      type="btn-secondary btn-realtime shadow"
      icon="bi-camera"
      (click)="checkPermissions()"
    ></app-button>
  </div>
</div>

<div *ngIf="isTakingPhoto" class="webcam">
  <webcam
    [width]="350"
    [style]="{ position: 'relative', left: '15%', alignSelf: 'center' }"
    [trigger]="$trigger"
    (imageCapture)="snapshot($event)"
  ></webcam>
  <div class="webcam-actions">
    <app-button
      title="Capturar imagem"
      type="btn-primary"
      (click)="captureImage()"
    ></app-button>
    <app-button
      title="Fechar"
      (click)="closeWebcam()"
      type="btn-link"
    ></app-button>
  </div>
</div>

<div *ngIf="hasError" class="alert alert-warning" role="alert">
  {{errorMessage}}
</div>

<audio class="back-audio" *ngIf="showAudio" autoplay controls>
  <source type="audio" src="{{ audio }}" type="audio/mpeg">
</audio>
<app-response *ngIf="response != ''" response="{{ response }}"></app-response>
