<div>
  <h2>Por um mundo mais acessível</h2>
  <p>Em um mundo regido pelo digital, as pessoas com <strong>deficiência auditiva e visual</strong> estão cada vez mais excluídas das interações sociais.</p>
  <p>Visando incluir estas pessoas, o projeto <strong>include</strong> transcreve arquivos de áudio para texto e de imagem para descrição automática.</p>
  <h3>Selecione o tipo de arquivo você deseja transcrever</h3>
</div>
<div class="row">
  <div class="col">
    <app-button
      title="Áudio"
      type="btn-primary shadow"
      icon="bi-file-earmark-music"
      routerLink="audio"
      alt="Seleção de Áudio"
    ></app-button>
  </div>
  <div class="col">
    <app-button
      title="Imagem"
      type="btn-primary shadow"
      routerLink="image"
      icon="bi-card-image"
      alt="Seleção de Imagem"
    ></app-button>
  </div>
</div>
