<div class="row">
  <div class="col">
    <div class="mb-3">
      <input class="form-control" type="file" id="formFile" />
    </div>
  </div>
  <div class="col">
    <app-button
      title="Gravar"
      icon="bi-mic"
      type="btn-success"
      *ngIf="!isRecording"
      (click)="startStopRecording()"
    ></app-button>
    <app-button
      title="Parar de Gravar"
      icon="bi-mic-mute"
      type="btn-danger"
      *ngIf="isRecording"
      (click)="startStopRecording()"
    ></app-button>
  </div>
</div>
<div *ngIf="text !== ''" class="row d-flex justify-content-center">
  <div class="text-result bg-dark text-light">
    <p>{{ text }}</p>
  </div>
</div>
