<div class="row">
  <div class="col">
    <div class="mb-3">
      <input class="form-control" type="file" id="formFile" />
    </div>
  </div>
  <div class="col">
    <button
      *ngIf="!isRecording"
      class="btn btn-success"
      (click)="startStopRecording()"
    >
      <i class="bi bi-mic"></i>
      Gravar
    </button>
    <button
      *ngIf="isRecording"
      class="btn btn-danger"
      (click)="startStopRecording()"
    >
      <i class="bi bi-mic-mute"></i>
      Parar de gravar
    </button>
  </div>
</div>
