.text-result {
  border-radius: 20px;
  p {
    margin: 0;
    padding: 10px;
  }
}

.row {
  margin-bottom: 1.4rem;
}

.col {
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}
