.test {
  background-color: aliceblue;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  height: min-content;

  position: relative;
  top: 30%;

  border-radius: 50px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  
  min-height: 70vh;
}

.max-size {
  height: 80vh;
}

.text {
  background-color: antiquewhite;
  width: 100%;
  max-width: 600px;
}