.test {
  background-color: aliceblue;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  height: min-content;

  position: relative;
  top: 30%;

  border-radius: 50px;
}

.bg-half-dark {
}

.max-size {
  height: 80vh;
}

.texto {
  width: 100%;
  max-width: 600px;
}