.chose-type {
  width: 100%;
  min-height: 10px;

  max-width: 600px;

  margin-top: 5%;

  padding: 50px;

}

@media only screen and (min-width: 600px) {
  .chose-type {
    border-radius: 30px;
  }
  
}

