<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="chose-type">
      <div class="row">
        <div class="col">
          <button class="btn btn-primary">Audio</button>
        </div>
        <div class="col">
          <button class="btn btn-primary">
            <i class="bi bi-card-image"></i>
            <br />
            Imagem
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center"></div>
</div>
